In [1]:
import pandas as pd
import numpy as np

# Import libraries for tools
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.model_selection import train_test_split

# pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# Model Training 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_csv(r'F:\Machine_learning\Credit_Card_Default_Prediction_and_Model_Deployment_Project\notebooks\data\UCI_Credit_Card.csv',index_col="ID")
data_train,data_test = train_test_split(data,random_state=42,test_size=.15)
df= data.copy()
data_train.sample(10).T

ID,27494,27263,17441,22134,20092,13989,23838,16916,23027,13997
LIMIT_BAL,160000.0,50000.0,30000.0,80000.0,100000.0,50000.0,360000.0,390000.0,610000.0,340000.0
SEX,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0
EDUCATION,3.0,2.0,2.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0
MARRIAGE,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
AGE,51.0,38.0,32.0,22.0,42.0,38.0,54.0,64.0,43.0,29.0
PAY_0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
PAY_2,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
PAY_3,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0
PAY_4,-2.0,2.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
PAY_5,-1.0,2.0,-2.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
PAY_6,-1.0,2.0,-2.0,-1.0,-2.0,0.0,0.0,0.0,0.0,0.0
BILL_AMT1,4042.0,33759.0,17168.0,6261.0,61618.0,47350.0,217936.0,38383.0,403546.0,82922.0
BILL_AMT2,4338.0,36388.0,28655.0,6170.0,60380.0,44948.0,202845.0,38134.0,418882.0,81084.0
BILL_AMT3,-1801.0,35527.0,29239.0,4258.0,58567.0,40326.0,177252.0,38679.0,413942.0,74530.0
BILL_AMT4,-5513.0,36247.0,9435.0,7032.0,79527.0,19576.0,165622.0,39689.0,420120.0,66897.0
BILL_AMT5,743.0,35367.0,724.0,6348.0,18950.0,19565.0,167824.0,40472.0,427886.0,64699.0
BILL_AMT6,1012.0,37537.0,724.0,1606.0,19667.0,19531.0,156851.0,41320.0,437131.0,35540.0
PAY_AMT1,1000.0,3500.0,12155.0,1000.0,2406.0,1772.0,8880.0,1608.0,25002.0,3600.0
PAY_AMT2,0.0,0.0,2000.0,0.0,2200.0,1301.0,7992.0,1647.0,8000.0,2962.0
PAY_AMT3,0.0,1600.0,1920.0,7032.0,22004.0,835.0,5627.0,1657.0,16385.0,2500.0
PAY_AMT4,6256.0,0.0,724.0,6348.0,656.0,856.0,5554.0,1440.0,16000.0,1800.0
PAY_AMT5,1050.0,2900.0,724.0,1606.0,1000.0,854.0,5456.0,1496.0,16000.0,1000.0
PAY_AMT6,1000.0,0.0,3294.0,0.0,396.0,672.0,5445.0,1518.0,34000.0,1000.0
default.payment.next.month,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
lower_bound = df['column_name'].quantile(0.025)  # 2.5th percentile
upper_bound = df['column_name'].quantile(0.975)